/*
https://color.adobe.com/color%20theme_8EC0EB2D-7F47-4430-A350-8E8CAEE959E5-color-theme-16180726
*/

.header {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
}

.footer {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin: 12px;
}

input {
  margin: 12px;
  color: white;
  font-size: 18px;
  font-family: serif;
  font-weight: 700;
  padding: 0.75em;
  background-color: #024959;
  border: 0px solid black;
  border-radius: 1.25em;
  box-shadow: 0 0 2px black;
}

input:hover {
  background-color: #4ba69d;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  margin: 12px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 12px;
}

.grid {
  border: 0.5px solid lightgray;
  width: 400px;
  height: 400px;
  margin: 12px;
}

.row {
  height: 10%;
}

.cell {
  display: inline-block;
  border: 0.5px solid lightgray;
  box-sizing: border-box;
  height: 100%;
  width: 10%;
}

.cell:hover {
  border-color: black;
  border-width: 2px;
  border-radius: 2px;
}

.ship {
  background-color: #024959;
}

.hit {
  background-color: #aa3e27;
}

.miss {
  background-color: #d9c14a;
}

.game-container {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.gameboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboard {
}

.notifier {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: cyan;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.hidden {
  display: none;
}
